# Dependencias principales de Flask
Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.1.2

# Manejo de CORS
Flask-CORS==4.0.1 

# Manejo de variables .env
python-dotenv==1.0.1

# Para producción (Web Server Gateway Interface)
gunicorn==22.0.0

# Para JSON avanzado
simplejson==3.19.2
